@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
  /* Colors */
  --bg-body: #f9fafb;
  --purple: #8e48ff;
  --yellow: #f2e800;
  --black: #202020;
  --white: #ffffff;

  /* Shadow  */
  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  /* Fonts */
  --font-family: "Open Sans", sans-serif;

  /* Size */
  --font-h1-mobile: 24px;
  --font-h2-mobile: 22px;
  --font-h3-mobile: 22px;
  --font-title-mobile: 16px;
  --font-p-mobile: 14px;
  --font-plittle-mobile: 12px;

  /* Containers */
  --container-mobile: 16px;
}

body {
  background: var(--bg-body) !important;
  font-family: var(--font-family) !important;
}
